* button:hover{
    cursor: pointer;
}

*{
    font-family: monospace;
}

body {
    background-color: #FCF8F8;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* top bar css*/
header {

    background-color: #E9A0A0;
    color: #FCF8F8;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    top: 0;
    padding: 0;
    border: 0;
    margin: 0;

    height: 60px;
    width: 100%;
}

#settings{
    margin-left:20px;
    display: flex;
    flex: 10%;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    font-size: 24px;
}

#settings button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-right: 10px;
}

#settings button img{
    width: 46px;
    height: 46px;
}

nav{
    margin-right: 20px;
}

nav button{
    background-color: rgba(255, 255, 255, 0);
    border: none;

    font-size: 20px;
    color: #FCF8F8;
    margin: 15px;
}
/*top bar css end*/

/*page content css begin*/

.createDisplay{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;

    position: absolute;
    top:10%;
}

.createContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-self: center;
}

.textInput{
    display: block;
    background:
    repeating-linear-gradient(
      0deg,
      #FFEDED,
      #FFEDED 25px,
      #F1B0B0 1px,
      #F1B0B0 26px
    ); 
    width: 900px;
    height: 500px;
    border-radius: 10px;

    display: block;
    align-self: center;

    margin-left: 32px;

    border: 2px solid #F1B0B0;
}

.editButtons{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: flex-start;

    gap: 17px;
}

.editButtons button{
    height: 60px;
    width: 60px;
    font-size: 32px;

    background-color: #FBEFEF;
    border: 2px solid #F1B0B0;
    color: #D05A5A;

    border-radius: 10px;
}

#postBtn{

    margin-top: 10px;
    font-size: 20px;
    align-self: flex-end;
    width: 160px;
    height: 40px;

    border-radius: 10px;

    border: none;
    background-color: #D05A5A;
    color: #FBEFEF;
}

#encouragementText{
    width: 300px;
    height: 40px;

    font-size: 20px;

    background-color: #FBEFEF;
    border: 2px solid #F1B0B0; 
    color: #D05A5A;  

    border-radius: 10px;

    display: flex;
    align-self: flex-end;

    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}