* button:hover{
    cursor: pointer;
}

*{
    font-family: monospace;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*page content css begin*/

.createDisplay{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;

    position: absolute;
    top:10%;
}

.createContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-self: center;
}

.textInput{
    display: block;
    width: 900px;
    height: 500px;
    border-radius: 10px;

    display: block;
    align-self: center;

    padding: 26px 20px 20px 20px;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 16px;

    margin-left: 32px;
}

.textInput p {
    margin: 0;
    line-height: 24px;
}


.editButtons{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: flex-start;

    gap: 17px;
}

.editButtons button{
    height: 60px;
    width: 60px;
    font-size: 32px;

    border-radius: 10px;
}

#postBtn{

    margin-top: 10px;
    font-size: 20px;
    align-self: flex-end;
    width: 160px;
    height: 40px;

    border-radius: 10px;

    border: none;
}

#encouragementText{
    width: 300px;
    height: 40px;

    font-size: 20px;
    border-radius: 10px;

    display: flex;
    align-self: flex-end;

    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}