* {
    font-family: monospace;
}


* button:hover{
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

.registerForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

#actionText{
    margin:35px;
    font-size: 32px;
    border-radius: 10px;

    width: 400px;
    height:50px;

    display: grid;
    align-items: center;
    justify-content: center;
}

.formInputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    gap: 35px;
}

.formInputs input{
    width: 600px;
    height: 45px;

    border-radius: 10px;
    text-indent: 10px;
}

.actionButton{
    border-radius: 10px;

    width: 150px;
    height: 45px;

    margin-top: 5px;
    margin-bottom: 5px;
}



#messageSpace{
    font-size:  15px;
    padding:0;
    margin:0;
}

.formError{
    margin: -10px;
    animation: shake-horizontal 0.5s ease-in;
}

.formSuccess{
    margin:-10px;
}

@keyframes shake-horizontal {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}