* button:hover{
    cursor: pointer;
}

*{
    font-family: monospace;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* page content css */

.pageContent{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    padding: 20px;
    flex: 1;
}

main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    text-align: center;
    flex: 0.8;
    min-width: 320px;
}

#logoSection{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex: 1;

    font-size: 40px;
    font-weight: bold;
    font-style: italic;

    margin-bottom: 10px;
}

#logoImg{
    width: 160px;
    height:80px;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
}

#logoImg img{
    height: 85px;
    width: auto;
}

#motto{
    font-size: 16px;
    margin-bottom: 35px;
}



.cardDisplay{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    
    flex: 1;
    column-gap: 5px;
}

.cardDisplay a{
    font-size: 40px;
    
    display: flex;
    flex:1;
    align-self: center;

    margin:10px;
}

.card{
    display: block;
    width: 690px;
    height: 135px;
    border-radius: 10px;

    display: block;
    align-self: center;

    padding: 26px 20px 20px 20px;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 16px;

    margin-left: 32px;
}


.card p {
    margin: 0;
    line-height: 24px;
}

/* buttons css */

.actionButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;

    
}

.actionButtons button{
    width:265px;
    height:55px;
    font-size: 24px;
    border-radius: 10px;
}


/* bottom bar css */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    bottom: 0;
    padding: 0;
    border: 0;
    margin: 0;

    height: 60px;
    width: 100%;
}

footer a{
    margin-left:30px;
    display: flex;
    flex: 10%;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    font-size: 24px;
}

.contact{
    margin-right: 20px;
    align-items: center;
    display:flex;
}

.contact button{
    margin: 15px;
}

#feedbackBtn{
    font-size: 15px;
    width: 210px;
    height: 30px;

    border-radius: 10px;
}
